body {
    margin: 0px;

}

nav {
    background: #000;
    display: flex;
    justify-content: space-between;
}

.menu-lines {
    width: 1.5rem;
    height: 1.5rem;
}

.menu-lines span {
    width: 1,5rem;
    height: 2px;
    background: #fff;
}

.apple-logo {
    color:#fff; 
}